# Track ONLY source code project and experimental data
/*
!/code
!/experiments
!/doc
!/README.md
!/.gitignore

### Source code Project ###
# Track necessary code, resources and meta info
/code/*
!/code/src/
!/code/testData/
/code/testData/*
!/code/testData/diffKB/
!/code/testData/familyRelation/
/code/testData/familyRelation/*
!/code/testData/familyRelation/Hypothesis*.pl
!/code/testData/RKB/
/code/testData/RKB/*
!/code/testData/RKB/*.tsv
!/code/testData/RKB/Hypothesis*.pl
!/code/pom.xml

### Experiments ###
!/experiments/NaiveWithFamilyRelation/
/experiments/NaiveWithFamilyRelation/*
!/experiments/NaiveWithFamilyRelation/run.sh
!/experiments/NaiveWithFamilyRelation/result*
!/experiments/NaiveWithFamilyRelation/Multiset*.xlsx

### Documents ###
/doc/*
!/doc/report/